version: "3"

services:
  archive-db:
    image: postgres:latest
    volumes:
      - ./docker/archive-db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: squid-archive
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    profiles:
      - full

  archive-ingest:
    depends_on:
      - archive-db
    restart: on-failure
    image: subsquid/substrate-ingest:firesquid
    command:
      [
        "-e",
        "ws://host.docker.internal:9944",
        "-c",
        "20",
        "--out",
        "postgres://postgres:postgres@archive-db:5432/squid-archive",
      ]
    profiles:
      - full

  archive-gateway:
    depends_on:
      - archive-db
      - archive-ingest
    image: subsquid/substrate-gateway:firesquid
    environment:
      DATABASE_MAX_CONNECTIONS: 5
      RUST_LOG: "actix_web=info,actix_server=info"
    command:
      [
        "--database-url",
        "postgres://postgres:postgres@archive-db:5432/squid-archive",
        "--evm-support",
      ]
    ports:
      - "8888:8000"
    profiles:
      - full
